{% extends 'base.j2' %}

{% block title %}
About Me
{% endblock %}

{% block content %}
<div class="about-container">
    <p class="intro-text">
        Hello, and welcome to my website! My name is Kevin and I am an aspiring software engineer from Arlington, Texas.
    </p>
</div>
<div class="img-about-container">
    <div class="image-caption-container">
        <img src="static/media/me.jpg" class="about-images">
        <div class="caption">
            Me with Sue the T. Rex, Chicago Field Museum.
        </div>
    </div>
</div>
<br>
<div class="about-container">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat vitae nisi interdum condimentum. 
        Proin varius risus non massa imperdiet bibendum at in odio. Nunc viverra laoreet venenatis. 
        Nam et nulla suscipit, varius tellus ac, ultrices turpis. Duis tincidunt, ipsum eu aliquet blandit, 
        urna tellus varius lacus, facilisis porta sem dui vitae eros. Curabitur fermentum, lectus eget ornare euismod, 
        sapien enim ornare magna, eu elementum massa massa a felis. Nulla et semper libero. Curabitur eu turpis volutpat, 
        tempor lorem vitae, luctus erat. Donec fermentum porta neque, eget mollis ante dictum suscipit. 
        Quisque tempus lectus sed metus efficitur, et auctor magna gravida.
    </p>
    <p>
        Vivamus id nulla tortor. Mauris nisi magna, lacinia ut accumsan id, elementum ac leo. Etiam fringilla tincidunt venenatis. 
        Suspendisse mattis, felis in rutrum malesuada, elit dolor porta orci, et convallis tortor tellus fringilla tellus. 
        Morbi ornare massa imperdiet tincidunt sodales. Maecenas mattis sem dolor, auctor sodales metus scelerisque ac. 
        Integer id nunc ullamcorper, mattis ligula quis, rutrum libero. Nullam suscipit nisl id libero mollis, at maximus eros 
        finibus. Duis eu pellentesque mauris. Aenean eu urna at lectus rutrum egestas. Phasellus molestie ornare purus eget tempus. 
        Duis aliquam commodo scelerisque. Praesent dapibus lacus sed libero convallis, a gravida sem mattis.
    </p>
</div>
<br>
<br>
<div class="img-about-container">
    <div class="image-caption-container" id="side-img">
        <img src="static/media/me.jpg" class="about-images">
        <div class="caption">
            Me with Sue the T. Rex, Chicago Field Museum.
        </div>
    </div>
    <p class="img-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat vitae nisi interdum condimentum. 
        Proin varius risus non massa imperdiet bibendum at in odio. Nunc viverra laoreet venenatis. 
        Nam et nulla suscipit, varius tellus ac, ultrices turpis. Duis tincidunt, ipsum eu aliquet blandit, 
        urna tellus varius lacus, facilisis porta sem dui vitae eros. Curabitur fermentum, lectus eget ornare euismod, 
        sapien enim ornare magna, eu elementum massa massa a felis. Nulla et semper libero. Curabitur eu turpis volutpat, 
        tempor lorem vitae, luctus erat. Donec fermentum porta neque, eget mollis ante dictum suscipit. 
        Quisque tempus lectus sed metus efficitur, et auctor magna gravida.
    </p>
</div>
<br>
<div class="about-container">
    <p>
        Sed eleifend lectus eu erat porttitor vehicula. Pellentesque ac tincidunt elit. Vestibulum urna ex, gravida a tortor vel, 
        luctus tempus nisl. Curabitur aliquet, enim ut laoreet congue, nibh massa scelerisque sapien, ornare varius massa ligula 
        fringilla magna. Etiam non leo consequat, commodo velit sit amet, bibendum nisl. In ultrices risus eu eros pretium scelerisque. 
        Nulla maximus consequat ex. Nullam maximus convallis molestie. Nulla dictum dui nunc, non bibendum enim posuere vel. 
        Sed mattis ultricies molestie. Curabitur in turpis vestibulum, mollis diam in, lacinia tellus. Curabitur venenatis risus id 
        sodales ultricies. Duis pharetra ac urna a consequat. Sed pharetra cursus eros, vitae tristique nulla.
    </p>
    <p>
        Nam iaculis sed massa nec efficitur. Ut sodales, mauris a volutpat vulputate, tortor ipsum blandit mauris, at convallis 
        purus erat in dui. Nullam tincidunt ornare aliquet. Duis tincidunt mattis dui at ultricies. Suspendisse scelerisque ultricies ornare. 
        Pellentesque sed risus dui. Aliquam erat volutpat. Mauris laoreet sem risus, vitae rutrum elit lobortis eu. Vestibulum mollis 
        diam a odio egestas ultrices. Mauris vestibulum lobortis augue at auctor. Suspendisse non arcu sed orci venenatis blandit sit amet 
        at magna. Nam lobortis, massa vel fermentum pretium, ipsum orci pharetra risus, eget maximus erat tellus sed purus. Donec et mattis lacus.
    </p>
    <p>
        Morbi velit urna, vestibulum quis euismod quis, varius eu justo. Proin ut lorem auctor, molestie lectus sit amet, ultrices urna. 
        Sed arcu turpis, feugiat at diam sit amet, interdum porta nisi. In hac habitasse platea dictumst. Morbi scelerisque urna eget nisi 
        feugiat rutrum at ut massa. Pellentesque sodales tellus sed varius rhoncus. Nulla laoreet ipsum in nunc pellentesque, et euismod 
        turpis posuere. Proin molestie vitae urna vitae facilisis. Sed sodales, augue eu egestas blandit, ante enim mattis lorem, sed 
        sollicitudin magna lacus quis risus. Mauris sit amet vestibulum ante. Morbi sed magna vel metus dignissim facilisis. 
        Cras in laoreet velit, ac rutrum leo. Cras viverra risus vitae arcu rutrum, sed aliquam dolor feugiat.
    </p>
</div>
<br>
{% endblock %}