{% extends 'base.j2' %}

{% block title %}
Home
{% endblock %}

{% block head %}
<script type="application/javascript">
    function greeting_message(target, message, speed){
        var i = 0;
        var interval = setInterval(function(){
            document.getElementById(target).innerHTML += message.charAt(i);
            i++;
            if (i > message.length){
                clearInterval(interval);
            }
        }, speed);
    }

setTimeout(function(){ greeting_message("homeheading", "Hello World", 235); }, 700);
</script>
<h1 id="homeheading"></h1>
{% endblock %}

{% block lines %}
<p class="home-p">
Motivated
</p>

<p class="home-p">
Analytical
</p>

<p class="home-p">
Versatile
</p>
{% endblock %}